<% horaBrasil = @datePass+" "+@timePass+":00"+"-3:00"%>
<% horaConvertida = horaBrasil.to_time %>
<% if @currentTime < horaConvertida%>
    <div class="container-fluid fs-6">
        <%= form_with(model: @consultation, remote: true) do |form| %>
            <div class="field">
                <%= form.label :"Nome Da Reserva" %>
                <%= form.text_field :title %>
            </div>
            <br>
            <div class="field">
                <%= form.label :start_time, "Data: " %>
                <%= form.hidden_field :start_time %>
                <%= @datePass %>
            </div>
            <br>
            <div class="field">
                <%= form.label :start_time, "Hora: " %>
                <%= form.hidden_field :start_time %>
                <%= "#{@timePass}:00" %>
            </div>
            <div class="field">
                <%= form.label :Descrição %>
                <%= form.text_area :description %>       
            </div>

            <div class="actions text-end">
                <%= link_to 'Excluir', @consultation, class: "btn btn-danger text-light", method: :delete, data: { confirm: 'Tem certeza?' } %>
                <button class="btn btn-secondary text-light" type="form.submit">Salvar</button>
            </div>
        <% end %>
    </div>
<% end %>

<% if @currentTime > horaConvertida%>
    <div class="text-danger fs-6">Impossível efetuar essa reserva! </div>
<% end %>

