    <div class="container-fluid fs-6">
        <%= form_with(model: @consultation, remote: true) do |form| %>
            <div class="field">
                <%= form.label :"Nome da Reserva" %>
                <%= form.text_field :title %>
            </div>
            <hr class="border-dark border-2 opacity-100 fs-2", style="color:black">
            <div class="field">
                <%= form.label :start_date, "Data: " %>
                <%= form.date_field :start_date %>
                <%= @datePass %>
            </div>
            <div class="field">
                <%= form.label :start_time, "Hora: " %>
                <%= form.time_field :start_time %>
                <%= "#{@timePass}" %>
            </div>
            <hr class="border-dark border-2 opacity-100 fs-2", style="color:black">
            <div class="field">
                <%= form.label :Descrição %>
                <%= form.text_area :description %>       
            </div>

            <%= form.text_field :user_id, id: :consultations_user_id, class: 'form-control', value:current_user.id, type: :hidden %>

            <div class="actions text-end">
                <%= link_to 'Excluir reunião', @consultation, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-light" %>
            </div>

            <div class="actions d-grid gap-2 mt-5 text-end">
                <button class="btn btn-secondary text-light" type="form.submit">Salvar</button>
                <%= link_to "Voltar", consultation_path, :class => "btn btn-outline-secondary " %>  
            </div>

        <% end %>
    </div>
