<% horaBrasil = @datePass+" "+@timePass+":00"+"+8:00"%>
<% horaConvertida = horaBrasil.to_time %>
<% if @currentTime < horaConvertida%>

    <div class="container-fluid fs-6">
        <%= form_with(model: @consultation, remote: true) do |form| %>
            <div class="field">
                <%= form.label :"Nome da Reserva" %>
                <%= form.text_field :title %>
            </div>
            <hr class="border-dark border-2 opacity-100 fs-2", style="color:black">
            <div class="field">
                <%= form.label :start_date, "Data: " %>
                <%= form.hidden_field :start_date %>
                <%= @datePass %>
            </div>
            <div class="field">
                <%= form.label :start_time, "Hora: " %>
                <%= form.hidden_field :start_time %>
                <%= "#{@timePass}:00" %>
            </div>
            <hr class="border-dark border-2 opacity-100 fs-2", style="color:black">
            <div class="field">
                <%= form.label :Descrição %>
                <%= form.text_area :description %>       
            </div>

            <div class="actions text-end">
                <button class="btn btn-secondary text-light" type="form.submit">Salvar</button>
            </div>
        <% end %>
    </div>


<% else @currentTime > horaConvertida%>
    <div class="text-danger fs-6">Impossível efetuar essa reserva! </div>
<% end %>

