<nav class="navbar bg-light">
  <form class="container-fluid justify-content">
        <h2 class="me-5 d-flex ms-4"> Reserva de Sala </h2>
        <div class="fs-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" 20 fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
        Usuário: <%= current_user.username %>
        </div>
        <%= link_to "Sair", sign_out_path, method: "delete", :class => "btn btn-outline-secondary" %>   
  </form>
</nav>

        <% flash.each do |nome, mensagem| %>
            <%= content_tag :div, mensagem, class: "alert alert-warning  mt-2"  %>
        <% end %>


<div class="container-fluid text-center mt-5 me-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nome da Reserva</td>
                <td>ID Usuário </td>
                <td>Descrição</td>
                <td>Data</td>
                <td>Hora</td>
                <td colspan="1"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><%= @consultation.title %></th>
                <th><%= @consultation.user_id %></th>
                <th><%= @consultation.description %></th>
                <th><%= @consultation.start_date%></th>
                <th><%= @consultation.start_time.strftime("%H:%M")%></th>
                <th><%= link_to 'Editar', edit_consultation_path, class: "btn btn-warning text-light" %>
                    </th>
            </tr>
        </tbody>
    </table>
</div>  

<div class="d-grid gap-2">
  <%= link_to "Voltar", consultations_path, :class => "btn btn-secondary text-light " %>  
</div>





