<br>
<br>
<br>
<br>


<div class="container mt-5 p-5">
    <h1> Criar conta </h1><br>
    <%= form_with(model: @user, local: true) do |f| %>
    
    <div class="form-group mb-3">
        <%= f.label :Usuário %><br/>
        <%= f.text_field :username, class: "form-control", placeholder: "Nome de usuário" %>
    </div>

    <div class="form-group mb-3">
        <%= f.label :Senha %><br/>
        <%= f.password_field :password, class: "form-control", placeholder: "Senha" %>
    </div>
    
    <div class="form-group mb-5 text-end">
        <a class="btn btn-secondary text-light" href= "/index" type="button">Voltar</a>
        <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
    
    <% end %>
</div>
