<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/path/to/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
</header>

<% reunioes = @consultations.select("consultations.id,consultations.title,consultations.description,consultations.start_date,consultations.start_time") %> 

<div class="simple-calendar">
    <div class="calendar-heading d-flex justify-content-between pt-1 pb-1">
        <div class="alert">
            <%= link_to t('simple_calendar.previous', default: 'Voltar semana'), calendar.url_for_previous_view, class: "btn btn-outline-secondary" %>
        </div>
            <span class="calendar-title fs-3"> Hoje: <%= Date.today.strftime("%d/%m/%Y") %> </span>
        <div class="alert">
            <%= link_to t('simple_calendar.next', default: 'Avançar semana'), calendar.url_for_next_view, class: "btn btn-outline-secondary" %>
        </div>
  </div>

<table class="table table-striped p-5 shadow-lg">
    <thead>
      <tr> 
        <th class="fs-5 text-center">Horário</th>
        <th class="fs-5 text-center">Segunda-Feira</th>
        <th class="fs-5 text-center">Terça-Feira</th>
        <th class="fs-5 text-center">Quarta-Feira</th>
        <th class="fs-5 text-center">Quinta-Feira</th>
        <th class="fs-5 text-center">Sexta-Feira</th>
      </tr>
    </thead>
    <tbody>
     <td></td>
        <% date_range.each_slice(7) do |week| %>
            <% week.pop(2) %>

            <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                    <div class="text-center">
                        <%= day.strftime("%d/%m/%Y") %>
                    </div>
                <% end %>
            <% end %>

            <% 6.upto(22).each do |hour| %>
                <tr>
                    <td>
                        <%= Time.parse("#{hour}:00").strftime("%H:%M") %>
                    </td>

                        <% week.each do |day| %>
                            <td>
                                <% time = Time.zone.now %>
                                <% temReuniaoNoDiaNaHora = false %>

                                <% reunioes.each do |reuniao| %>    

                                    <%if day == reuniao.start_date && hour == reuniao.start_time.strftime("%H").to_i  %> 
                                        <div>
                                            Reservado para: <br> <strong><%= link_to reuniao.title, reuniao, class:"btn btn-link text-dark"%> </strong>  
                                        </div>
                                        <% temReuniaoNoDiaNaHora = true %>
                                    <% end %>

                                <% end %>

                                <% if !temReuniaoNoDiaNaHora && time < day.strftime %>
                                        <%= link_to('Disponível', new_consultation_path(start_date: day, start_time: hour),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "btn btn-link" })%>
                                <% end %>

                                <% if !temReuniaoNoDiaNaHora && time > day.strftime %>
                                        <%= link_to('Indisponível', new_consultation_path(start_date: day, start_time: hour),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "btn btn text-secondary" })%>
                                <% end %>
                            </td>
                        <% end %>
                </tr>   
            <% end %>
        <% end %>    
    </tbody>
</table>
</div>


